# ignore the generated tests in these folders
/annexB
/built-ins
/harness
/intl402
/language
/staging

# ignore the temporary files that the tests build
/build

# ignore the .js files compiled from .ts files
/config.js
/generate.js
/loader.js
/runner.js
/snapshot.js
/summary.js
/withMissingSnapshots.js
